/* CALENDARIO */
.calendario {
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 2em 16em;
  border-radius: 8px;
  gap: 2em;
}

.calendario h4 {
  color: #666666;
}

.calendario-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  text-align: center;
  list-style: none;
}

.calendario-grid li {
  border: #666666 1px solid;
  height: 8em;
  padding: 1em;
}

.calendario-grid .art_prox_mes{
  color: gray;
}

.fecha-actual {
  display: flex;
  justify-content: center;
}

.fecha-actual p {
  background-color: #09e989;
  color: #13161c;
  border: #09e989 2px solid;
  border-radius: 2em;
  width: 1.2em;
  height: 1.2em;
  text-align: center;
}

.calendario-grid li button {
  width: 7em;
  height: 3em;
  background-color: #09e989;
  border: 2px solid #09e989;
  color: #13161c;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 0.5em;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.popup.hidden {
  display: none;
}

.popup-contenido {
  background: #13161c;
  color: #f1f1f1;
  border-radius: 10px;
  padding: 20px;
  width: 25em;
  height: 15em;
  max-width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.popup-contenido a {
  margin: 0 3em;
  background-color: transparent;
  color: #f1f1f1;
  border: 1px solid #09e989;
  padding: 0.8em 2em;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 1.1em;
  text-decoration: none;
}

.popup-contenido a:hover{
    background-color: #09e989;
    color: #13161c;
}

.popup-contenido img {
  width: 100%;
  border-radius: 8px;
}

.popup-contenido .cerrar {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 64em) {
  .calendario {
    padding: 2em 4em;
  }

  .calendario-grid {
    grid-template-columns: repeat(7, 1fr);
  }

  .calendario-grid li {
    height: auto;
    min-height: 6em;
    padding: 0.2em;
    font-size: 0.9em;
  }
}

@media (max-width: 48em) {
  .calendario {
    padding: 3em 1em;
    align-items: center;
    text-align: center;
  }

  .calendario-grid {
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5em;
  }

  .calendario-grid li {
    height: auto;
    min-height: 4em;
    padding: 0.2em;
    font-size: 0.6em;
  }

  summary {
    font-size: 0.7em;
    padding: 0.2em;
  }
}