body{
    margin: 0;
}

.carrusel-container {
    position: relative; 
    margin: 0;
    overflow: hidden; 
    width: 100%;
    height: 70vh;
}

.carrusel-slide {
    display: none;
    position: relative; 
    margin: 0;
}

.carrusel-slide img {
    width: 100%;
    height: auto;
    margin: 0;
}

.descp-img-carrusel {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 90%;           
    box-sizing: border-box; 
    padding: 1.25em;
    color: rgb(255, 255, 255);
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 1em; 
    text-align: center; 
    margin: 0; 
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1em;
    margin-top: -1.38em;
    color: white;
    font-weight: bold;
    font-size: 1.13em;
    transition: 0.6s ease;
    user-select: none;
    background-color: rgba(0,0,0,0.5); 
    z-index: 10; 
}

.prev{
    left: 0;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.div-circulos {
    text-align: center;
    padding-top: 0.63em;
}

.PdP {
    display: inline-block; 
    cursor: pointer;
    height: 0.94em;
    width: 0.94em;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
}

.div-circulos{
    margin: 0.5em;
}
.active, .PdP:hover {
    background-color: #717171;
}
