/* CONTACTO */

.contacto {
    background-color: #13161c;
    color: #f1f1f1;
    padding: 2em 16em 0 16em;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2em;
}

.contacto_medios {
    display: flex;
    justify-content: space-between;
    gap: 9em;
    width: 100%;
}

.contacto_medios form {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2em;
    width: 100%;
}

.contacto_formulario_campo {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.contacto_formulario_campo label {
    background-color: #13161c;
    color: #666666;
    position: absolute;
    top: -0.7em;
    left: 0.5em;
    font-size: 0.9em;
    padding: 0 0.5em;
}

.contacto_formulario_campo input,
.contacto_formulario_campo textarea {
    font-size: 1em;
    height: 2.5em;
    border-radius: 8px;
    border: 1px solid #383838;
    padding-left: 0.7em;
    background-color: #13161c;
    color: white;
}

.contacto_formulario_campo textarea {
    height: 8em;
    resize: none;
    padding-top: 0.5em;
}

.contacto_formulario_campo input:focus,
.contacto_formulario_campo input:hover,
.contacto_formulario_campo textarea:focus,
.contacto_formulario_campo textarea:hover {
    border-color: #09e989;
    outline: none;
}

.contacto_medios form button {
    background-color: transparent;
    color: #f1f1f1;
    border: 1px solid #09e989;
    height: 2em;
    width: 8em;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto_medios form button:hover {
    background-color: #09e989;
    color: #13161c;
}

.contacto_datos {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 1.2em;
    padding: 1.5em;
    border: 1px solid #383838;
    border-radius: 8px;
    background-color: #1f2228;
    width: 100%;
}

.contacto_datos_item {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.contacto_datos_item span {
    color: #666666;
    font-size: 0.9em
}

.contacto_datos_item a {
    color: #f1f1f1;
}

.contacto_datos_item a:hover {
    color: #09e989;
    cursor: pointer;
}

.separador {
    height: 0.05em;
    background-color: #666666;
    margin: 2em 8em;
}

.ubicacion {
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 2em 16em 4em 16em;
}

.ubicacion img {
    width: 100%;
    border: 1px solid #383838;
    border-radius: 8px;
}

.contacto_medios a{
    text-decoration: none;
    color: white;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.popup-contenido {
    background: #13161c;
    padding: 2em;
    border-radius: 0.6em;
    max-width: 25em;
    width: 90%;
    text-align: center;
    color: #f1f1f1;
}

.boton-centro {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
}

.boton-centro button {
    display: block;
    margin: 0 auto;
    background-color: transparent;
    color: #f1f1f1;
    border: 1px solid #09e989;
    padding: 0.8em 2em;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 1.1em;
}

.boton-centro button:hover {
    background-color: #09e989;
    color: #13161c;
}

.contador {
    margin-top: 0.3em;
}

@media screen and (max-width: 1200px) {
    .contacto {
        padding: 2em 8em 0 8em;
    }

    .ubicacion {
        padding: 2em 8em 4em 8em;
    }

    .contacto_medios {
        gap: 4em;
    }
}

@media screen and (max-width: 800px) {
    .contacto {
        padding: 2em 4em 0 4em;
        align-items: center;
    }

    .contacto_medios {
        flex-direction: column;
        gap: 3em;
    }

    .contacto_medios form {
        align-items: center; 
    }

    .contacto_datos {
        width: 100%;
        max-width: 25em;
        margin: 0 auto;
    }
    
    .ubicacion {
        padding: 2em 4em 4em 4em;
    }
}

@media screen and (max-width: 500px) {
    .contacto {
        padding: 2em 1.5em 0 1.5em;
    }

    .ubicacion {
        padding: 2em 1.5em 4em 1.5em;
    }

    .separador {
        margin: 2em 2em;
    }

    .contacto h2, .ubicacion h2 {
        font-size: 1.5em; 
    }
    
    .contacto_datos {
        width: 100%;
        max-width: none;
        box-sizing: border-box;
        margin: 0 auto;
    }
}