.cursos {
    background-color: #13161c;
    padding: 5em 16em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    color: #f1f1f1;
}

.cursos_album {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 2em;
    width: 100%;
}

.cursos_card {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    width: 25%;
    height: 20em;
    background-color: #1f2228;
    border: 1px solid #666666;
    border-radius: 8px;
    gap: 0.5em;
    padding: 1em;
    position: relative;
}

.cursos_card span {
    position: absolute;
    top: 1em;
    left: 1em;
    background-color: #09e989;
    color: #13161c;
    font-weight: bold;
    padding: 0.3em 0.6em;
    border-radius: 4px;
    font-size: 1.1em;
}

.cursos_card img {
    width: 100%;
    height: 60%;
    border-radius: 8px;
    object-fit: cover;
}

.cursos_card div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
    text-align: end;
}

.cursos_card div p {
    font-size: 1.6em;
    font-weight: bold;
    color: #999999;
}

.cursos_card a {
    margin-top: -0.7em;
    color: #d7d7d7;
    text-decoration: none;
}

.cursos_card a:hover {
    color: #09e989;
}

.cursos_card button {
    background-color: transparent;
    border: 1px solid #09e989;
    color: #f1f1f1;
    height: 2em;
    width: 8em;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
}

.cursos_card button:hover {
    background-color: #09e989;
    color: #13161c;
    border: none;
}

@media (max-width: 64em) {
  .cursos {
    padding: 3em 5em;
  }

  .cursos_card {
    width: 45%;
  }
}

@media (max-width: 48em) {
  .cursos {
    padding: 2em;
  }

  .cursos_album {
    justify-content: center;
  }

  .cursos_card {
    width: 100%;
    height: auto;
  }

  .cursos_card img {
    height: 200px;
  }

  .cursos_card div p {
    font-size: 1.2em;
  }
}