* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

html,body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #13161c;
}

main {
  flex: 1;

}

/* HEADER */

.header {
    background-color: #13161c;
    display: block;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
}

.header_superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6em 4em;
}

.header_logo {
    height: 2em;
    display: flex;
    align-items: center;
}

.header_logo img {
    height: 100%;
}

.header_busqueda {
    display: flex;
    position: relative;
    justify-content: end;
    align-items: center;
}

.header_busqueda input[list="browsers"] {
    color: white;
    background-color: #0b0d11;
    border: 1px solid #383838;
    width: 26em;
    border-radius: 8px;
    height: 2.5em;
    padding: 0 0.8em;
    font-size: 1em;
}

.header_busqueda input:focus {
    outline: none;
    border-color: #09e989;
}

.header_busqueda input:hover {
    border-color: #09e989;
}

.lupa-icon {
    height: 1.2em;
    margin-right: 1em;
    pointer-events: none;
}

.usuario_logueado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

}

.usuario_logueado img{
    width: 2em;
    height: 2em;
}

.usuario_logueado p {
    display: flex;
    color: white;
    font-size: 1em;
}

.usuario_logueado div {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    gap: 1em;
}

.usuario_logueado a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    gap: 1em;
}

.header_carrito {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.boton_login_register {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
}

.boton_estandar,
.login-btn,
.register-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.6em 1.2em;
    border: 1px solid #09e989;
    border-radius: 8px;
    background-color: transparent;
    color: #f1f1f1;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 6em;
}

.boton_estandar:hover,
.login-btn:hover,
.register-btn:hover {
    background-color: #09e989;
    color: #13161c;
    border: none;
}

.header_carrito img {
    height: 2.3em;
}

.header_carrito div {
    height: 1.3em;
    width: 1.3em;
    background-color: #09e989;
    border-radius: 100%;
    position: absolute;
    top: -3px;
    right: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #383838;
    font-size: 0.9em;
    font-weight: bold;
}

.header_menu {
    background-color: #0f1116;
    padding: 0 16em;
}

.header_menu nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 1.3em;
    padding: 0.8em 0;
    text-align: center;
}

.header_menu nav ul li a {
    text-decoration: none;
    color: white;
}

.header_menu nav ul li a:hover {
    color: #e9e9e9;
}

/* FOOTER */

.footer {
    background-color: #0f1116;
    padding: 2em 16em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.footer img {
    height: 3em;
}

.footer_dato {
    height: 9em;
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 0.5em;
}

.footer_dato h4 {
    color: #666666;
    font-weight: lighter;
}

.footer_dato ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.footer_dato ul li {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.footer_dato ul li img {
    height: 1em;
}

.footer_dato ul li a,
.footer_dato ul li p {
    color: #c4c8ce;
    text-decoration: none;
}

.footer_dato ul li a:hover {
    color: #09e989;
    cursor: pointer;
}

.custom-dialog {
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #09e989; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #13161c; 
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.dialog-mensaje {
    margin-bottom: 15px;
    font-size: 1.1em;
    color: white; 
}

.dialog-boton-aceptar {
    padding: 8px 15px;
    cursor: pointer;
    border: none;
    background-color: #09e989; 
    color: black;
    border-radius: 4px;
    font-size: 1em;
    display: inline-block;
}

.custom-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.sidebar-carrito {
    position: fixed;
    top: 0;
    right: -100%;
    width: 350px;
    max-width: 90%;
    height: 100%;
    background-color: #13161c;
    color: #f1f1f1;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    box-shadow: -3px 0 10px rgba(0,0,0,0.5);
    transition: right 0.3s ease;
    z-index: 1000;
}

.sidebar-carrito.visible {
    right: 0;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-header h2 {
    margin: 0;
    font-size: 1.5em;
}

#cerrar-sidebar {
    background: none;
    border: none;
    color: #f1f1f1;
    font-size: 2em;
    cursor: pointer;
}

#overlay-carrito {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 900;
}

#overlay-carrito.visible {
    opacity: 1;
    visibility: visible;
}

.sidebar-contenido {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.cursos_card {
    display: flex;
    flex-direction: column;
    background-color: #1f2228;
    border: 1px solid #666666;
    border-radius: 8px;
    padding: 0.5em;
    position: relative;
}

.cursos_card span {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    background-color: #09e989;
    color: #13161c;
    font-weight: bold;
    padding: 0.2em 0.4em;
    border-radius: 4px;
    font-size: 1em;
}

.cursos_card img {
    width: 100%;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
}

.cursos_card div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: end;
    margin-top: 0.3em;
}

.cursos_card div p {
    font-size: 1.2em;
    font-weight: bold;
    color: #999999;
}

.cursos_card h3 {
    margin: 0;
    font-size: 1rem;
}

.cursos_card a {
    margin-top: 0.3em;
    color: #d7d7d7;
    text-decoration: none;
    font-size: 0.9em;
}

.cursos_card a:hover {
    color: #09e989;
}

.cursos_card button {
    background-color: transparent;
    border: 1px solid tomato;
    color: #f1f1f1;
    height: 2em;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 0.5em;
}

.cursos_card button:hover {
    background-color: tomato;
    color: #13161c;
    border: none;
}

.sidebar-comprar {
    background-color: #09e989;
    color: #13161c;
    text-align: center;
    padding: 1em;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 2em;
}

.sidebar-comprar:hover {
    background-color: #07c872;
    color: #f1f1f1;
}

@media (max-width: 64em) {
    .footer {
        padding: 2em 4em;
        flex-wrap: wrap;
        gap: 2em;
    }

    .footer_dato {
        width: 45%;
        height: auto;
    }

    .header_superior {
        display: flex;
        justify-content: space-between;
        padding: 0.6em 2em;
    }

    .header_busqueda input[list="browsers"] {
        width: 18em;
    }

    .header_menu {
        padding: 0 2em;
    }

    .footer {
        padding: 2em 16em;
    }

    .boton_login_register {
        display: flex;
        width: auto;
        justify-content: center;
        gap: 0.8em;
    }

    .boton_estandar {
        display: flex;
        width: auto;
        font-size: 1em;
    }

    .login-btn,
    .register-btn {
        font-size: 1em;
        padding: 0.5em 1em;
    }
}

@media (max-width: 48em) {
    .footer {
        padding: 2em 1em;
        flex-direction: column;
        align-items: center;
    }

    .footer_dato {
        align-items: center;
        width: 80%;
    }

    .header_superior {
        display: flex;
        justify-content: space-between;
        padding: 0.6em 1em;
        flex-wrap: wrap;
    }

    .header_busqueda {
        width: 100%;
        order: 4;
        margin-top: 0.5em;
    }

    .header_busqueda input[list="browsers"] {
        width: 100%;
        height: 2em;
        font-size: 0.8em;
    }

    .lupa-icon {
        right: 1.5em;
        height: 0.8em;
    }

    .header_menu {
        display: flex;
        padding: 0 1em;
        justify-content: space-around;
    }

    .header_menu nav ul {
        justify-content: flex-start;
        font-size: 0.9em;
    }

    .header_menu nav ul li {
        margin-right: 0.8em;
        margin-bottom: 0.2em;
    }

    .header_menu nav ul li a {
        padding: 0.3em 0.5em;
        font-size: 0.6em;
    }

    .header_logo {
        height: 1.5em;
    }

    .header_carrito img {
        display: flex;
        height: 1.5em;
    }

    .header_carrito div {
        height: 1.1em;
        width: 1.1em;
        font-size: 0.8em;
    }

    .boton_login_register {
        display: flex;
        width: auto;
        justify-content: center;
        gap: 0.4em;
        margin-top: 0.5em;
    }

    .boton_estandar {
        display: flex;
        width: auto;
        font-size: 0.6em;
    }

    .login-btn,
    .register-btn {
        font-size: 0.85em;
        padding: 0.4em 0.9em;
        width: 6em;
    }
}