main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.registro {
  background-color: #13161c;
  color: #f1f1f1;
  padding: 2em 16em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
  height: auto;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  width: 30em;
}

.formulario_campo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}

.formulario_campo label {
  background-color: #13161c;
  color: #666666;
  position: absolute;
  top: -0.7em;
  left: 0.5em;
  font-size: 0.9em;
  padding: 0 0.5em;
}

.formulario_campo input {
  font-size: 1em;
  height: 2.5em;
  border-radius: 8px;
  border: 1px solid #383838;
  padding-left: 0.7em;
  background-color: #13161c;
  color: white;
}

.formulario_campo input:focus,
.formulario_campo input:hover {
  border-color: #09e989;
  outline: none;
}

.formulario_opciones {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.formulario_opciones p a {
  color: #09e989;
  text-decoration: none;
}

.formulario_opciones p a:hover {
  color: #0eb96f;
}

.formulario_opciones button {
  background-color: transparent;
  color: #f1f1f1;
  border: 1px solid #09e989;
  height: 2em;
  width: 10em;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2em;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario_opciones button:hover {
  background-color: #09e989;
  color: #13161c;
}

@media (max-width: 64em) {
  .formulario {
    padding: 2em 6em;
  }
}

@media (max-width: 48em) {
  .formulario {
    padding: 1em;
  }

  .iniciar-sesion {
    width: 100%;
    max-width: 100%;
  }
}